.shopping-cart {
  height: 100vh;
}

.shopping-cart .title {
  position: absolute;
  top: 35px;
  left: 0%;
  right: 0%;
  margin: auto;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shopping-cart .title h1 {
  font-size: 24px;
  color: var(--secondary-color);
}

.shopping-cart .title i {
  transform: scale(2);
  color: var(--tertiary-color);
}

/*-----------------Alert Message----------------*/
.shopping-cart .message-container {
  height: 30%;
  display: flex;
  align-items: flex-end;
}

.shopping-cart .message {
  width: 90%;
  margin: 0 auto;
  padding: 5px;
  box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.4);
  border-radius: 12px;
}

.shopping-cart .message h1 {
  color: var(--primary-color);
  padding: 5px;
}

.shopping-cart .message p {
  text-align: justify;
  padding: 5px;
}

/*-------------Articles shopping Cart-------------*/
.shopping-cart .articles {
  height: 40%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.shopping-cart .articles article {
  position: relative;
  height: 80px;
  width: 70%;
  margin-top: 15px;
  transform: translateX(20px);
  background-color: rgb(233, 220, 145);
  border-radius: 12px;
  text-align: center;
}

.shopping-cart .articles article .contents {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.shopping-cart .articles article .contents p:last-child {
  position: absolute;
  right: 0%;
  width: 35px;
  font-size: 20px;
}

.shopping-cart .articles article figure {
  position: absolute;
  left: -40px;
  top: 0%;
  bottom: 0%;
  margin: auto;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.shopping-cart .articles article .button {
  position: absolute;
}

.shopping-cart .articles article .circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.shopping-cart .articles article .button-left {
  right: 5px;
  bottom: 5px;
}

.shopping-cart .articles article .button-right {
  right: 5px;
  top: 5px;
}

/*-------------------Resume-------------------*/
.shopping-cart .resume {
  /* border: solid greenyellow; */
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.shopping-cart .resume div a {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  text-decoration: none;
  border-radius: 12px;
}

.shopping-cart .resume div:first-child a {
  width: 60%;
  background-color: var(--tertiary-color);
}

.shopping-cart .resume div a p {
  text-align: center;
  padding: 10px;
}

.shopping-cart .resume > div:nth-of-type(2) .row {
  width: 70%;
  margin: auto;
  padding: 2px;
  display: flex;
  justify-content: space-between;
}

.shopping-cart .resume > div:nth-of-type(2) .row:last-child {
  font-weight: bold;
}

.shopping-cart .resume div:last-child a {
  width: 70%;
  background-color: var(--primary-color);
  font-size: 20px;
}

.shopping-cart .resume div:last-child a i {
  transform: scale(1.5);
}