.order {
  height: 100vh;
}

.order .title {
  position: absolute;
  top: 35px;
  left: 0%;
  right: 0%;
  margin: auto;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order .title h1 {
  font-size: 24px;
  color: var(--color-dark-shade-of-cyan);
}

.order .title i {
  transform: scale(2);
  color: var(--color-ocher-gold);
}

/*-----------------Alert Message----------------*/
.order .message-container {
  height: 30%;
  display: flex;
  align-items: flex-end;
}

.order .message {
  width: 90%;
  margin: 0 auto;
  padding: 5px;
  box-shadow: 1px 1px 1px 1px var(--color-shadow);
  border-radius: 12px;
}

.order .message h1 {
  color: var(--color-glaucous-turquoise-blue);
  padding: 5px;
}

.order .message p {
  text-align: justify;
  padding: 5px;
}

/*-------------Articles shopping Cart-------------*/
.order .articles {
  height: 40%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order .articles .article-container {
  margin: auto;
  width: 100%;
  padding-top: 10px;
}

.order .articles article {
  position: relative;
  height: 80px;
  width: 70%;
  margin: auto;
  transform: translateX(20px);
  background-color: var(--color-light-ivory);
  border-radius: 12px;
  text-align: center;
}

.order .articles article .contents {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 40px 0 40px;
}

.order .articles article .contents p:nth-of-type(1) {
  font-size: 14px;
  color: var(--color-dark-shade-of-cyan);
}

.order .articles article .contents p:nth-of-type(2) {
  font-weight: bold;
}

.order .articles article .contents p:last-child {
  position: absolute;
  right: 0%;
  width: 35px;
  font-size: 16px;
  font-weight: bold;
}

.order .articles article figure {
  position: absolute;
  left: -40px;
  top: 0%;
  bottom: 0%;
  margin: auto;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.order .articles article .button {
  position: absolute;
  cursor: pointer;
}

.order .articles article .circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--color-dark-shade-of-cyan);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.order .articles article .button-left {
  right: 5px;
  bottom: 2px;
}

.order .articles article .button-right {
  right: 5px;
  top: 2px;
}

/*-------------------Resume-------------------*/
.order .resume {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.order .resume div a {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--color-white);
  text-decoration: none;
  border-radius: 12px;
}

.order .resume div:first-child a {
  width: 60%;
  background-color: var(--color-ocher-gold);
}

.order .resume div a p {
  text-align: center;
  padding: 10px;
}

.order .resume > div:nth-of-type(2) .row {
  width: 70%;
  margin: auto;
  padding: 2px;
  display: flex;
  justify-content: space-between;
}

.order .resume > div:nth-of-type(2) .row:last-child {
  font-weight: bold;
}

.order .resume div:last-child a {
  width: 70%;
  background-color: var(--color-glaucous-turquoise-blue);
  font-size: 20px;
}

.order .resume div:last-child a i {
  transform: scale(1.5);
}