@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  /* font-size: 62.5%; */
  font-family: -apple-system, BlinkMacSystemFont,
  'Roboto', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-very-dark-shade-of-cyan-blue: #0d1f2c;
  --color-dark-shade-of-cyan: #004b62;
  --color-glaucous-turquoise-blue: #007e8c;
  --color-ocher-gold: #c29400;
  --color-light-ivory: #e6d690;
  --color-gray: gray;
  --color-shadow: #c1bdb4;
  --color-very-light-shade-of-orange-red: #f2eeed;
  --color-white: #ffffff;
}

body {
  min-height: 100vh;
  background-color: var(--color-very-light-shade-of-orange-red);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}