* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  /* font-size: 62.5%; */
}

:root {
  --color-sombra-claro-rojo-naranja: #f2eeed;
  --color-marfil-claro: #e6d690;
  --color-dorado-ocre: #c29400;
  --color-turquesa-azul-glauco: #007e8c;
  --color-sombra-oscura-cian: #004b62;
}

body {
  background-color: var(--color-sombra-claro-rojo-naranja);

  min-height: 100vh;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
